.section-carrossel {
    background-color: var(--light-gray-3);
    width: 100vw;
    height: 42.563rem;
    display: flex;
    justify-content: center;
    font-family: Inter, sans-serif;
    margin-top: 2rem;
}

.divCarrosselGeral {
    display: flex;
    width: 90rem;
    padding: 0;
}

.ofertasTexto {
    width: 90rem;
    display: flex;
    justify-content: start;
    position: absolute;
    padding-top: 8rem;
    flex-direction: column;
    
}

.paragrafoMOferta {
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.5rem;
    letter-spacing: 0.047rem;
    color: var(--warning);
}

#h1QueimaEstoque {
    color: var(--dark-grey);
    font-size: 4rem;
    font-weight: 800;
    line-height: 4.125rem;
    letter-spacing: 0.063rem;
}

.paragrafoDescricaoOferta {
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 2.125rem;
    letter-spacing: 0.75px;
    color: var(--dark-grey-2);
    padding-top: 1rem;
    padding-top: 8;
}

.botaoVendoOfertas {
    width: 13.75rem;
    height: 3rem;
    background-color: var(--primary);
    color: var(--light-gray-3);
    font-size: 1rem;
    font-weight: 700;
    letter-spacing: 0.047rem;
    text-align: center;
    border-radius: 0.5rem;
    line-height: 1.5rem;
    margin-top: 2rem;
    cursor: pointer;
}

.botaoVendoOfertas:hover {
    background-color: var(--tertiary);
    transition: 0.5rem;
}

.divCarrosselImagens {
   display: flex;
   justify-content: center;
}


.carrosselImagens {
    width: 90rem;
}

.divImagensOferta {
    display: flex;
    justify-content: center; 
}

#imagemOrnament {
    width: 8.75rem;
    height: 8.75rem;
    margin-top: 0rem;
    margin-left: 78rem;
    margin-bottom: 25rem;

}

.divCarrosselImagens {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#ofertaNikeTenis {
    width: 60rem;
    display: flex;
    justify-content: center;
    margin-left: 24rem;
    margin-top: 0;
    position: absolute;
}


