.produtos {
    font-family: "Inter", sans-serif;
    background-color: #F9F8FE;
    width: 100vw;
    display: flex;
    justify-content: center;
}

.divGeralProdutos {
    width: 90rem;
    /* padding: 0 15rem 0; */
}

.div1Produtos {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 10rem;
    margin-right: 10rem;
    margin-bottom: 2rem;
}

.div1Produtos h3 {
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 3.8rem;
    letter-spacing: 0.075rem;
    color: #474747;
}

.div1Produtos a {
    text-decoration: none;
}

.div1Produtos p {
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 3.4rem;
    letter-spacing: 0.75px;
    color: #C92071;
}

.div2Produtos {
    margin-left: 10rem;
    margin-right: 10rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 4rem;
}

.cardProduto {
    /* width: 29.2rem; */
    height: 43.9rem;
    display: flex;
    flex-direction: column;
    
}

.cardCard {
    /* width: 29.2rem; */
    height: 32.1rem;
    background-color:white;
}

.desconto {
    /* width: 9.6rem;
    height: 3.2rem; */
    background-color: #E7FF86;
    color: #474747;
    margin-top: 2rem;
    margin-left: 2rem;
    border-radius: 2.9rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 1;
}

.desconto p {
    font-size: 1.4rem;
    font-weight: 700;
    line-height: 2.2rem;
    letter-spacing: 0.075rem;
}

.cardCard img {
    width: 24.8rem;
    height: 13.4rem;
    transform: rotate(-30deg);
}

.tenisTenis {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 100%;
}

.tenisTenis img {
    margin-right: 2.023rem;
}

.pTenis {
    font-size: 1.2rem;
    font-weight: 700;
    line-height: 2.4rem;
    letter-spacing: 0.075rem;
    margin-top: 1.8rem;
    color: #8F8F8F;
}

.h4Tenis {
    font-size: 2.4rem;
    font-weight: 400;
    line-height: 3.8rem;
    letter-spacing: 0.075rem;
    color: #474747;
}

.precoTenis {
    width: 14rem;
    height: 3.8rem;
    display: flex;
    gap: 0.8rem;
    align-items: center;
}

.precoTenis img {
    width: 6.9rem;
    height: 3.8rem;
}

.precoTenis p {
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 3.8rem;
    letter-spacing: 0.075rem;
}