.section-destaque {
    width: 90rem;
    background-color: aqua;
    font-family: Inter;
    height: 16.25rem;
    margin-bottom: 2rem;

}

#paragrafoEmDestaque {
    padding: 0 5%;
    border: 1px solid;
}

.divDestaquePai {
    /* width: 80rem; */
    display: flex;
    justify-content: center;
    border: 1px solid;
    height: 18.063rem;
    margin-top: 2rem;
    /* padding: 0 5%; */
    /* background-color: aqua; */
    font-family: Inter;
    gap: 1rem;
    /* columns: 3;
    column-width: 23rem ; */
}

.divDestaquePromo1 {
    border: 1px solid;
    /* width: 25.313rem; */
    background-color: #D8E3F2;
    /* height: 18.063rem; */
    padding: 0.313rem 0.938rem 0.313rem 0.938rem;
    border-radius: 0.5rem;
    border: none;
}

#descontoDestaque1 {
    margin-top: 2rem;
    /* padding: 0.313rem 0.938rem 0.313rem 0.938rem; */
    font-size: 0.875rem;
    font-weight: 700;
    background-color: #E7FF86;
    border-radius: 1.813rem;
    border: none;
    /* gap: 0.625rem; */
    width: 6rem;
    /* height: 6rem; */
    text-align: center;
    color: var(--dark-gray-2);

}


.divDestaquePromo2 {
    border: 1px solid;
    /* width: 25.313rem; */
    background-color: #D8E3F2;
    /* height: 18.063rem; */
    border-radius: 0.5rem;
    border: none;
}

.divDestaquePromo3 {
    border: 1px solid;
    /* width: 25.313rem; */
    background-color: #D8E3F2;
    /* height: 18.063rem; */
    border-radius: 0.5rem;
    border: none;
}