.banner {
    display: flex;
    /* border: 1px solid; */
    margin: 20px 5%;
}

#logo {
    margin-right: 1rem;
}

input {
    height: 3rem;
    width: 30rem;
    padding-left: 1rem;
    margin-top: 0;
    background-image: url(/src/assets/Images/lupa.svg);
    background-repeat: no-repeat;
    background-position: calc(100% - 10px) center;
    background-color: #F5F5F5;
    border-radius: 8px;
    border: none;
    margin-right: 3rem;
    color: var(--dark-gray-3)

}

.cadastro {
    margin-right: 2rem;
    margin-top: 13px;

}

#cadastro {
    color: var(--dark-gray-2);
    padding-bottom: 4rem;
    font-family: Inter;
    font-size: 16px;
    letter-spacing: 0.75px;
    font-weight: 400;
    
}

.btn {
    width: 7rem;
    height: 2.5rem;
    border-radius: 8px;
    border: none;
    background-color: var(--primary);
    transition: 0.5;
    margin-top: 3px;
    /* margin-right: 3rem; */
    font-family: Inter;
    font-weight: 700;
    letter-spacing: 0.75px;
    text-align: center;
    color: var(--light-gray-3)
}

.btn:hover {
    background-color: var(--tertiary);
    transition: 0.5;
    cursor: pointer;
}

#carrinho {
    margin-top: 0.7rem;
    margin-left: 3rem;
    
}