#menu {
    display: flex;
    list-style-type: none;
    gap: 2rem;
    margin: 3rem 2%;
}

li {
    color: var(--dark-gray-2);
    font-family: Inter;
    font-weight: 400; 
    font-size: 1rem;
    letter-spacing: 0.75px; 
    text-align: center;
    cursor: pointer ;
}