.footer {
    display: flex;
    align-items: start;
    justify-content: space-around;    
    border: solid rebeccapurple;

}

.footer div {
    padding-left: 2rem;
}

.footer-section {
    display: flex;
    flex-direction: column;
    align-items: start;
    text-align: left;
    width: 20%;
}

.logo {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    padding: 0;
} 

.logo img {
    width: 1.2rem;
}

.icones {
    display: flex;
    gap: 2rem;  
    cursor: pointer;
}

.facebook {
    width: 0.7rem;
}


.footer-final {
    flex-basis: 100%;
    text-align: center;
    margin-top: 20px;
    border-top: 1px solid #333;
    padding-top: 10px;
  }
  
  @media (max-width: 768px) {
    .footer-section {
      flex-basis: 100%;
      padding: 10px 0;
    }
  }

  