.footer {
    display: flex;
    background-color: #1a1a1a;
    color: #fff;
    padding: 20px 60px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.footer-section {
    flex: 1;
    min-width: 200px;
    margin: 10px 20px;
}

.logo {
    height: max-content;
}

.logo2 {
    width: 100%;
}

.footer-section p {
    font-size: 1rem;
    align-items: start;
}

.footer-section .icones {
    margin-top: 10px;
}

/* .bloco {
    display: flex;
    flex-flow: column;
    align-items: start;

} */

.footer-section .icones a {
    margin-right: 1rem;
}

.footer-section .icones img {
    width: 24px;
    height: 24px;
}

.footer-section.info ul, .footer-section h3,
.footer-section.categories ul {
    list-style: none;
    display: flex;
    align-items: start;
    flex-flow: column;
    padding: 8px;
    margin-left: 80px;
}

.footer-section.info ul li, 
.footer-section.categories ul li {
    margin-bottom: 8px;
}

.footer-section.info ul li a,
.footer-section.categories ul li a {
    color: #bbb;
    text-decoration: none;
    transition: color 0.3s;
}

.footer-section.info ul li a:hover,
.footer-section.categories ul li a:hover {
    color: #fff;
}

.footer-section.contact p {
    font-size: 14px;
    line-height: 1.6;
}

.footer-final {
    width: 100%;
    text-align: center;
    border-top: 1px solid #333;
    margin-top: 20px;
    padding-top: 10px;
}

.footer-final p {
    color: #bbb;
    margin: 0;
}