.section-footer {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--dark-gray);
    margin: 0;
}

.footer {
    font-family: Inter;
    margin: 0;
    width: 90rem;
    color:var(--white);
    
}

.footer > div {
    display: flex;
    justify-content: center;
    color: var(--white);
    margin: 0;
}

.footerDigital {
    margin-top: 4rem;
    font-size: 1rem;
    font-weight: 300;
    padding-right: 15rem;
}

#paragrafoDigital {
    margin-top: 2rem;
    color: var(--white);
    line-height: 1.625rem;
    font-family: Inter;
    font-weight: 400;
}

.icones-redes {
    display: flex;
    justify-content: start;
    flex-direction: row;
    gap: 2rem;
}

#icone1 , #icone2 , #icone3 {
    margin-top: 3rem;
}

.divFinalFooter {
    display: flex;
    padding-bottom: 1rem;
    gap: 2rem;
}

.divInfos {
    margin-top: 4rem;
    padding-right: 4rem;
    display: flex;
    flex-direction: column;
    text-decoration: none;
    
}

.divCategorias {
    margin-top: 4rem;
    display: flex;
    flex-direction: column;

}

.divContato {
    margin-top: 4rem;
    padding-left: 10rem;
}

.h3Footer {
    font-weight: 600;
    font-size: 18px;
    color: var(--white);
    padding-bottom: 2rem;
}


.paragrafo1Footer {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.625rem;
    color: var(--white);
    padding-bottom: 0.5rem;
    text-decoration: none;
}

.paragrafo2Footer {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.625rem;
    color: var(--white);
    padding-bottom: 0.5rem;
    text-decoration: none;
}

.paragrafo1Footer:hover , 
.paragrafo2Footer:hover {
    text-decoration: underline var(--white);
}

hr {
    margin: auto;
    margin-top: 3rem;
    border: 1px solid;
    display: flex;
    justify-content: center;
    align-items: center;
}

#textoAno {
    text-align: center;
    margin-top: 1rem;
    font-size: 13px;
    font-weight: 400;
    padding-bottom: 3rem;
}

