.destaque {
    font-family: "Inter", sans-serif;
    background-color: #F9F8FE;
    width: 100vw;
    display: flex;
    justify-content: center;

}

.divGeralDestaque {
    width: 90rem;
}

.div1Destaque p {
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 2.375rem;
    letter-spacing: 0.075rem;
    color: #474747;
    margin-top: 3.8rem;
    margin-left: 10rem;
    margin-bottom: 2rem;
}

.div2Destaque {
    display: flex;
    justify-content: center;
    gap: 1.2rem;
    margin-bottom: 10rem;
}

/* .div2Destaque img {
    width: 40.5rem;
    height: 25.1rem;
} */

.cardDestaque {
    /* width: 40.5rem; */
    height: 25.1rem;
    background-color: #D8E3F2;
    border-radius: 0.7rem;
}

.cardTexto {
    width: auto;
    height: 25.1rem;
    position: absolute;
    z-index: 1;
    padding-left: 3rem;
}

.cardTexto div {
    width: 9.6rem;
    height: 3.2rem;
    margin-top: 3.4rem;
    border-radius: 2.9rem;
    background-color: #E7FF86;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cardTexto p {
    font-size: 1.4rem;
    font-weight: 700;
    line-height: 2.2px;
    letter-spacing: 0.075rem;
    color: #474747;
}

.cardTexto h3 {
    margin-top: 1rem;
    font-size: 3.2rem;
    font-weight: 700;
    line-height: 3.6rem;
    letter-spacing: 0.09999998807907104rem;
}

.cardTexto button {
    width: 15.3rem;
    height: 4.8rem;
    background-color: #F5F5F5;
    color: #C92071;
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 2.4rem;
    letter-spacing: 0.075rem;
    border-radius: 0.7rem;
    margin-top: 2rem;

}

.cardImagem {
    width: 25.313rem;
    height: 25.1rem;
    position: relative;
    margin-left: 16.3rem;
}

.div3Destaque {
    text-align: center;
    margin-bottom: 2rem;
}

.div3Destaque p {
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 3.8rem;
    letter-spacing: 0.075rem;
    color: #474747;
    margin-bottom: 2rem;
}

.div4Destaque {
    display: flex;
    justify-content: center;
    gap: 4.8rem;
    margin-bottom: 12.3rem;
}

.divFrame {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

.frame {
    width: 10.4rem;
    height: 10.4rem;
    background-color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.divFrame p {
    font-size: 1.4rem;
    font-weight: 700;
    line-height: 2.2rem;
    letter-spacing: 0.075rem;
    text-align: center;
}