@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

.destaque {
    font-family: "Inter", sans-serif;
    background-color: #F9F8FE;
    width: 100vw;
    display: flex;
    justify-content: center;
    margin-bottom: 12.3rem;
}

.divGeralDestaque {
    width: 144rem;
}

.div1Destaque p {
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 3.8rem;
    letter-spacing: 0.075rem;
    color: #474747;
    margin-top: 3.8rem;
    margin-left: 10rem;
    margin-bottom: 2rem;
}

.div2Destaque {
    display: flex;
    justify-content: center;
    gap: 1.2rem;
    margin-bottom: 10rem;
}

.div2Destaque img {
    width: 40.5rem;
    height: 25.1rem;
}

.div3Destaque {
    text-align: center;
    margin-bottom: 2rem;
}

.div3Destaque p {
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 3.8rem;
    letter-spacing: 0.075rem;
    color: #474747;
    margin-bottom: 2rem;
}

.div4Destaque {
    display: flex;
    justify-content: center;
    gap: 4.8rem;
}

.divFrame {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

.frame {
    width: 10.4rem;
    height: 10.4rem;
    background-color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.divFrame p {
    font-size: 1.4rem;
    font-weight: 700;
    line-height: 2.2rem;
    letter-spacing: 0.075rem;
    text-align: center;
}