.filtro{
    background-color: #f8f8f8;
    padding: 1rem;
    width: 180px;
    height: 360px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 5px;
    margin: 0.8rem 0;
}

.filtro h4{
    font-family: sans-serif;
}

.filtro hr{
    margin: 0.5rem 0;
    width: 90%;
}

.filtro-categorias{
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    width: 90%;
}

.filtro-categorias p{
    font-family: sans-serif;
    font-weight: 600;
    font-size: 13px;
}

.options-categorias{
    margin-top: 0.1rem;
    display: flex;
    align-items: center;
    width: 100%;
    gap: 10px;
    padding-left: 1rem;
}

.check-input-filtro{ 
    justify-self: flex-start;
    width: 13px;
    height: 13px;
}


@media screen and (max-width: 1000px) {
     
.filtro{
    background-color: white;
    padding: 0.8rem 0;
    width: 100%;
    max-width: 740px;
    min-width: 150px;
    height: 170px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    margin: 0.8rem 0;
}

.box-filtro-categorias{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    height: 160px;
    gap: 10px;
}

.filtro-categorias{
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    width: 80%;
    max-width: 110px;
}

.options-categorias{
    padding-left: 0rem;
    width: 100px;
}
     
}