button {
    width: 9.563rem;
    height: 3rem;
    font-family: Inter;
    font-size: 1rem;
    font-weight: 700;
    letter-spacing: 0.047rem;
    line-height: 1.5rem;
    text-align: center;
    color: var(--primary);
    background-color: var(--light-gray-3);
    border-radius: 0.5rem;
    border: none;
}

button:hover {
    background-color: var(--secondary);
    transition: 0.5;
    cursor: pointer;
}